---
import Layout from "src/layout/Layout.astro";
---

<Layout title="Thai Town - Inicio" description="Bienvenido a Thai Town">
  <section class="container mx-auto px-4 py-8 text-center bg-red-900">
    <h1 class="">Thai Town</h1>
  </section>
</Layout>
